@import "../../../vars"

.post-container
  border: 2px solid black
  border-radius: 10px
  height: 150px
  display: flex
  flex-direction: column
  width: 30%
  margin: 10px 0

.post-title
  font-weight: bold

.post-body
  padding: 10px
  flex: 5
  border-bottom: 2px solid black
  border-radius: 5px

.post-footer
  display: flex
  padding: 10px
  justify-content: flex-end

.post-details
  color: black

.footer-span
  color: black
